<div class="container">
<form action="/tasks/insert" method="POST" class="form">
    <div class="form-control">
        <input type="text" name="task" placeholder="Digite sua tarefa">
          <input type="submit" value="Cadastrar">
    </div>

    <div class="form-historic">
    {{#each task}}
    <div>
    #{{this.id}}<span>{{this.task}}</span>
    </div>
    {{/each}}
    </div>
    </div>
  
</form>
</div>