*{
    margin: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}   
.form, .form-historic{
    width: 450px;
    margin: 0 auto;
}
.form-control{
    display: flex;
    flex-direction: row;
    margin-bottom: .5em;
    text-align: center;
    justify-content: center;
}

.form-historic div{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid red;
    padding: 5px;
    margin: 5px;
}